#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

main {
  max-width: 1280px;
  margin-top: 4rem;
  margin-inline: auto;
}

.nav {
  position: sticky;
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: 98.5vw;
  top: 0px;
  background-color: rgb(59,59,59);
  box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.8);
  z-index: 200;
  height: 5em;

  h1 {
    font-size: 36px;
    align-self: end;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.banner {
  width: 100%;
  border-radius: 1rem;
  padding: 1em;
  font-size: 18px;
  font-weight: 600;
  background-color: cornflowerblue;
  color: darkblue;
  border: 1px solid darkblue;

}
.banner--error {
  background-color: pink;
  color: red;
  border: 1px solid red;
}

.banner--loading {
  background-color: lightyellow;
  color: goldenrod;
  border: 1px solid goldenrod;
}

.banner--success {
  background-color: lightgreen;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.task-list {
  display: grid;
  margin-inline: auto;
  gap: 2em;
  grid-template-columns: minmax(0, 1fr);
  max-width: 550px;
}

.add-task {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: cornflowerblue;
  display: grid;
  place-items: center;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

label:has(+ input[type="checkbox"]:checked) {
  font-weight: 600;
  text-decoration: underline;
}

input[type="checkbox"] {
  display: none;
}