<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helper API Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        margin: 0 auto;
    }

    pre {
        background: #bbb;
        border-radius: 2px;
        max-width: 900px;
        margin: 0 auto;
    }

    code {
        display: block;
        padding: 1em;
        background-color: #2d2d2d;
        margin: .5em 1em;
        border-radius: 2px;
    }

    code span {
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
</style>

<body>
    <h1 class="text-center">IT2055 Contemporary DB | Jeremy L. Shepherd</h1>
    <pre>
        <code>
            <span><span style="font-weight:bold;color:green">GET</span> Tasks</span>
            <span>/api/tasks</span>
            </code>
        <code>
            <span><span style="font-weight:bold;color:green">GET</span> Task By Id </span>
            <span>/api/task/:id</span>
            </code>
        <code>
            <span><span style="font-weight:bold;color:green">POST</span> Create Task</span>
            <span>/api/tasks</span>
        </code>
        <code>
            <span><span style="font-weight:bold;color:green">PUT</span> Update Task</span>
            <span>/api/tasks/:id</span>
        </code>
        <code>
            <span><span style="font-weight:bold;color:red">DELETE</span> Delete Task</span>
            <span>/api/tasks/:id</span>
        </code>
    </pre>
</body>

</html>